<form action="{% url 'register' %}"
      method="POST"
      id="registrationForm"
      enctype="multipart/form-data">
    {% csrf_token %}
    {{register_form}}
</form>

<form action="{%url 'login' %}"
      method="POST"
      id="loginform">
    {% csrf_token %}

    <label for="">Username</label>
    <input type="text" name="username" placeholder="Username...">

    <label for="">Password</label>
    <input type="password" name="password" placeholder="Password...">

    <input type="submit" value="Login">
</form>