{% extends "base.html" %}

{% block content %}
<div class="login_container">
  <div class="login_text">
    {% if form.errors %}
      <p>Your email or password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}  
  </div>

    <div class="login_wrapper">
      <div class="login_wrapper__header">
        <h1>Create your account</h1>
        <p>Please fill in your email and create a password.</p>     
      </div>
      <form class="login_form" method="post" action="{% url 'create_account' %}">
        {% csrf_token %}
        {{ form }}
        <input class="login_button" type="submit" value="Create Account" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <div class="login_wrapper__footer">
      </div>
    </div>
</div>

{% endblock %}
