{% extends "base.html" %} {% load static %} {% block headers %}
<title>Deck Page</title>
{% endblock headers %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<script
      src="https://kit.fontawesome.com/8f0bee7cc7.js"
      crossorigin="anonymous"
></script>

<div class="deckpage">
    <div class="header">
        <h1>PS263</h1>
        <p class="creator">By: Jevin Sidhu</p>
    </div>
    <div class="deckpage__buttons">
        <button class="deckpage__buttons"><i class="fa-solid fa-plus"></i>New Card</button>
        <button class="deckpage__buttons"><i class="fa-solid fa-share-nodes"></i>Share</button>
    </div>
    <div class="search">
        <input type="text" class="searching" placeholder="Search for a Card">
    </div>
    <div class="card_compenents">
        <div class="card">
            <button class="card_edit_button"><i class="fa-solid fa-pencil"></i></button>
            <h1 class="card_question"> New Card Question </h1>
            <h1 class="card_answer"> New Card answer</h1>
            <div class="card_verticalline"></div>
        </div>
    </div>
</div>

{% endblock content%}
