{% extends "base.html" %}
{% load static %}

{% block headers %}
    <title>Homepage</title>
{% endblock headers %}

{% block content %}
    <h1>Homepage</h1>
    <h3>This page an example of a working html template with django. </h3>
    <p>The word passed from the backend view for this page is <b>{{sentence}}</b></p>
    <div class="card">
        <div class="card__header">
            <div class="card__header__name">
                <p class="card__header__name__course">PS263</p>
                <P class="card__header__name__creator"> By: Jevin Sidhu</P>
            </div>
        <div class="card__specifics">
            <p class="card__specifics__info">10 Cards Due, 10 Leeches</p>
        </div>
        </div>
        <div class="card__study_button">
            <button class="study"><i class="fa-solid fa-book"></i></i>Study</button>
        </div>
        <div class="card__buttons">
            <button class="card__buttons__edit"><i class="fa-solid fa-pen-to-square"></i>edit</button>
            <button class="card__buttons__share"><i class="fa-solid fa-share-nodes"></i>share</button>
        </div>
    </div>

    <div class=""></div>
{% endblock content%}