{% extends "base.html" %}
{% load static %}

{% block headers %}
    <title>Homepage</title>
{% endblock headers %}

{% block content %}
    <h1>Recently Studied</h1>
    <p>Decks: <b>{{sentence}}</b></p>
    <div class="cards">
        {% for deck in decks %}
            {% include 'components/Deck.html' %} 
        {% endfor %}

    </div>
    
    <br>
    <h1>Your Decks</h1>
    <button class="new_deck_button">+ New Deck</button>
    <br>
    <div>
        {% include 'components/Deck.html' %}

    <div class=""></div>
{% endblock content%}