/*.cards{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    border: 0; 
}*/

/*homepage elements*/

.card{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 20px;
    background-color: white;
    width: 270px;
    height: 150px;
    line-height: 1.6;
}
.card .card__header .card__header__name .card__header__name__course{
    font-weight: bold;
    color: rgb(48, 48, 48);
    font-size: large;
}
.card .card__header .card__header__name .card__header__name__creator{
    font-size: x-small;
    opacity: 60%;
}
.card .card__specifics .card__specifics__info{
    font-weight: bold;
    font-size: smaller;
}

.creator {
  font-size: small;
  opacity: 60%;
}

.card__buttons__edit{
    background-color: #ebd9fc;
    border-radius: 10px;;
    width: 70px;
    height: 30px;
  }

.card__buttons__share{
    background-color: #ebd9fc;
    border-radius: 10px;
    width: 70px;
    height: 30px;
  }

.study {
  background-color: #ebd9fc;
  border-radius: 10px;
  width: 70px;
  height: 30px;
}

.cards{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 270px);
}

.card i{
    margin-right: 5px;
}

/* deck elements */

.deck{
  background-color: #EBD9FC;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  line-height: 1.6;
  padding-left: 20px;
  height: 170px;
}

.deck__buttons{
  background-color: #ffffff;
  border-radius: 30px;
  width: 70px;
  height: 20px;
  font-size: x-small;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 10px;
}

.deck i{
  margin-right: 5px;
}

.deck input[type=text]{
  width: 98%;
  height: 30px;
  border-radius: 10px;
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.creator{
  opacity: 40%;
  font-size: smaller;
}

/*Study page*/

.studycard{
  height: 300px;
  width: 200px;
  border-radius: 10px;
  border:  1px solid rgb(0, 0, 0);
}

.study__button{
  border-radius: 10px;
  width: 70px;
  height: 30px;
}

.bad__button {
  background-color: #ED6767;
}

.good__button {
  background-color: #84BB94;
}

.great__button {
  background-color: #528FC8;
}

.back__button {
  background-color: #EBD9FC;;
}

.addcards__button {
  background-color: #EBD9FC;;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

/*
1. Make display behavior grid
2. Change the flow of the elements from row to column
3. Justify the content correctly
*/
.navigation {
  font-weight: bold;
  font-size: large;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F2EBFB;
  padding: 10px 0px 10px 10px;
  background-color: #F2EBFB;
}

/* 
  1. Create inner grid. Make display behavior grid.
  2. Change the flow of the elements from row to column
  3. Add a gap
  */
.navigation__right {
  font-size: medium;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  align-items: center;
}

.navigation img {
  width: 50px;
}
