{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static '/site.webmanifest' %}" />

    <meta name="description" content="A web app that enables users to build study decks and use spaced repetition to learn content." />
    <meta name="image" content="{% static 'img/thumbnail.jpeg' %}" />
    
    <meta property="og:url" content="https://mnimi-app.herokuapp.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Mnimi" />
    <meta property="og:description" content="A web app that enables users to build study decks and use spaced repetition to learn content." />
    <meta property="og:image" content="{% static 'img/thumbnail.jpeg' %}" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mnimi" />
    <meta name="twitter:description" content="A web app that enables users to build study decks and use spaced repetition to learn content." />
    <meta name="twitter:image" content="{% static 'img/thumbnail.jpeg' %}" />

    <script
      src="https://kit.fontawesome.com/8f0bee7cc7.js"
      crossorigin="anonymous"
    ></script>
    {% block headers %} {% endblock headers %}
  </head>
  <body>
    <nav class="navigation">
      <a href="/">Mnimi</a>
      <div class="navigation__right">
        <a href="/">Home</a>

        <!-- login/logout -->
        {% if user.is_authenticated %}
          <label>{{ user.get_username }}</label>
          <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>

        {% else %}
          <a href="{% url 'login' %}?next={{request.path}}">Login</a>

        {% endif %}

        {% comment %} <a href="/accounts/login">Login</a> {% endcomment %}
        
      </div>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
