{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/components.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/8f0bee7cc7.js"
      crossorigin="anonymous"
    ></script>
    {% block headers %} {% endblock headers %}
  </head>
  <body>
    <nav class="navigation">
      <a href="/">Mnimi</a>
      <div class="navigation__right">
        <a href="http://127.0.0.1:8000/">Home</a>
        <a href="http://127.0.0.1:8000/About">About</a>
        <a href="http://127.0.0.1:8000/accounts/">Account</a>
        <p>
          <img
            href="https://imgur.com/evEb5Pf"><img src="https://i.imgur.com/evEb5Pf.png"
            
          />
        </p>
      </div>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
