{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <script src="https://kit.fontawesome.com/8f0bee7cc7.js" crossorigin="anonymous"></script>
    {% block headers %}
    {% endblock headers %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>