<div class="deck">
    <div class="deck__header">
        <div class="deck__header__name">
            <a class ="deck_header_name_link" href="/deck/{{deck.0.id}}/">
            <p class="deck__header__name__course" href=>{{deck.0.deckName}}</p>
            </a>
            <P class="deck__header__name__creator">Created by: {{deck.0.creator_username}}</P>
        </div>
    <div class="deck__specifics">
        <p class="deck__specifics__info">{{ deck.1 }} Cards Due</p>
    </div>
    </div>
    <div class="deck__study__button">
        <button class="study"><i class="fa-solid fa-book"></i></i>Study</button>
    </div>
    <div class="deck__buttons">
        <button class="deck__buttons__edit"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
        <button class="deck__buttons__share"><i class="fa-solid fa-share-nodes"></i>Share</button>
    </div>
</div>